@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* elemen menyeluruh html */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover !important;
  background: url(/assets/img/Firewatch-4K-Wallpaper-3840x2160.jpg);
}

/* Bagian form */
.wrapper {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  color: aliceblue;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  width: 420px;
  padding: 30px 40px;
  border-radius: 10px;
}

/* Header Form */
.wrapper h1 {
  text-align: center;
  font-size: 36px;
}


/* Input Form */
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}


.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, 0.2);
  padding: 20px 45px 20px 20px;
  color: #fff;
  border-radius: 40px;
  font-size: 16px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/* Bagian Remember Me dan Forgot Password */

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  margin-right: 3px;
  accent-color: #fff;
}

.remember-forgot a {
  text-decoration: none;
  color: #fff;
}

.remember-forgot a:hover {
  text-decoration: underline;
}


/* Button Submit */

.wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: 45px;
  font-size: 16px;
  border-radius: 40px;
  color: #333;
  background: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  font-weight: 600;
  cursor: pointer;
}


/* Register Link */

.wrapper .register-link {
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
  
}

.register-link p a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.register-link a:hover {
  text-decoration: underline;
}
